/* BASIC STRUCTURE */
body {
  background-image: url("../img/bg.jpg");
  background-repeat:no-repeat;
  background-size: cover ;  
  font-family: 'Ubuntu', sans-serif;    
}
img, li, ul, p, span, div{
  padding : 0;
  margin: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

h3 {
  margin:5px;
}

/* MENU */
#menu {
  text-align: center;
  list-style-type: none;  
}

#menu li {   
  padding:15px;
  background-color: rgba(0,0,0,0.6);
  color:white;
  display:inline-block;  
  margin-right: -5px;
  font-size: 20pt;
  border:2px solid white;  
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#menu li:hover {
  background-color: yellow;
  cursor: pointer;
  color:black;
}

#menu li.active {
  background-color: rgba(255,255,255,0.7);
  color: #0099FF;
}

/* LANGUAGE SELECTION */
#language {  
  text-align: right;  
}

#language img {
  border:2px solid white;
}

#language:hover{
  cursor: pointer;
}

/* OPTIONS PANEL */
#OptionsWrapper { 
  width:70%;
  margin:auto;
  padding:20px 50px;
  background-color: rgba(0,0,0,0.6);
  color:white;
  border-radius: 25px;
  border:2px solid white;  
}

#OptionsContainer {  
  width:60%;
  margin:auto;
  text-align: center;
}

#OptionsContainer div{
  display:inline-block;
  padding: 30px 20px;
  width:40%;
  text-align: left;  
}

#mode{
  text-align: left;
} 

#maxValue p {
  margin-top: 20px;
}

#maxValue {
  text-align: center;
}

/* PLAY PANEL */
#GameWrapper {
  width:70%;
  margin:auto;
  overflow: auto;
  padding:20px 50px;
  background-color: rgba(0,0,0,0.6);
  color:white;
  border-radius: 25px;
  border:2px solid white;     
}

#timer, #timer_value{
  padding:10px;
}

#wrongAnswers {  
  display:inline-block;
}

#wrongAnswers div {
  margin: 20px;
}

#game{
  text-align: center;
}

#rightColumnWrapper {
  width:20%;
  float:right;
}

#gameContainer{  
  width:70%;
  display:inline-block;  
  margin:auto;
  text-align: center;    
}

#question {
  margin-top:30px;
}

#question_output {
  font-size: 25pt;
  font-weight: bold;
  margin:5px;
}

/* HELP PANEL*/
#HelpWrapper { 
  width:70%;
  margin:auto;
  padding:20px 50px;
  background-color: rgba(0,0,0,0.6);
  color:white;
  border-radius: 25px;
  border:2px solid white;  
}

#HelpInnerWrapper {
  width:50%;
  margin:auto;
  padding-bottom: 30px;
}

#helpEntryHeader ul li:hover{
  cursor:pointer;
}

#helpEntryHeader h1{
  text-align: center;
}
#helpEntryHeader ul {
  margin-left: 50px;
}
#helpContent {
  margin-top: 50px;
}
#helpContent h3{
  text-align:center;
}
#helpContent p {
  margin-top: 15px;
}

/* CONTACTS PANEL */
#ContactsWrapper {
  width:70%;
  margin:auto;
  padding:20px 50px;
  background-color: rgba(0,0,0,0.6);
  color:white;
  border-radius: 25px;
  border:2px solid white;  
  overflow: auto;
}

#ContactsInnerWrapper>div {   
  display:inline-block;
}
#photo {
  float:left; 
  width:100px;
  margin:10px;
}
#authorDesc {
  width:75%;
}

#ContactsWrapper>div {
  width:600px;
  margin:auto;
  padding-top:30px;
}