<!DOCTYPE HTML>
<html ng-app="multiplyApp"  ng-controller="multiplyAppController"  >
  <head>
    <title>
      {{ vocabulary.Title[ vocabulary.current ] }}
    </title>
    <link href = "css/styles.css" rel = "stylesheet" media = "screen" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js" type="text/javascript"></script>
    <script src= "js/vocabulary.js" type="text/javascript"></script>
    <script src= "js/app.js" type="text/javascript"></script>
  </head>
  <body>

    <div id="language">
        <img class ="lang_flags" ng-click="setLanguage('ua')" src = "img/ua.gif" />
        <img class ="lang_flags" ng-click="setLanguage('en')" src = "img/usa.gif" />        
    </div>


    <div id="tabs">
      <ul id="menu">
        <li ng-class="{active:isSelected(1) }" ng-click="selectTab(1)">{{ vocabulary.MenuItem1[ vocabulary.current ] }}</li>
        <li ng-class="{active:isSelected(2) }" ng-click="selectTab(2)">{{ vocabulary.MenuItem2[ vocabulary.current ] }}</li>
        <li ng-class="{active:isSelected(3) }" ng-click="selectTab(3)">{{ vocabulary.MenuItem3[ vocabulary.current ] }}</li>
        <li ng-class="{active:isSelected(4) }" ng-click="selectTab(4)">{{ vocabulary.MenuItem4[ vocabulary.current ] }}</li>
      </ul>
    </div>

    <div id="panels">
      
      <div id="OptionsWrapper" ng-show="isSelected(1)">
        <div id="OptionsContainer">
          <div id = "difficulty">
            <h3>{{ vocabulary.PickDifficultyLabel[ vocabulary.current]  }}</h3>
            <input type = "radio" name = "difficulty" value = "easy" ng-model="options.difficulty" />{{ vocabulary.EasyDifficultyLabel[ vocabulary.current ] }}<br />
            <input type = "radio" name = "difficulty" value = "middle"  ng-model="options.difficulty" />{{ vocabulary.MiddleDifficultyLabel[ vocabulary.current ] }}<br />
            <input type = "radio" name = "difficulty" value = "hard"  ng-model="options.difficulty" />{{ vocabulary.HardDifficultyLabel[ vocabulary.current ] }}<br />  
            <input type = "radio" name = "difficulty" value = "imba"  ng-model="options.difficulty" />{{ vocabulary.ImbaDifficultyLabel[ vocabulary.current ] }}<br />            
          </div>

          <div id = "mode">
            <h3>{{ vocabulary.OperationsTypeLabel[ vocabulary.current ] }}</h3>
            <input type = "checkbox" name = "mode" value = "add" ng-model = "options.operations.Add"/>{{ vocabulary.OperationsType1[ vocabulary.current ] }}<br />
            <input type = "checkbox" name = "mode" value = "substract" ng-model = "options.operations.Substract"/>{{ vocabulary.OperationsType2[ vocabulary.current ] }}<br />
            <input type = "checkbox" name = "mode" value = "multiply" ng-model = "options.operations.Multiply" />{{ vocabulary.OperationsType3[ vocabulary.current ] }}<br />
            <input type = "checkbox" name = "mode" value = "divide"  ng-model = "options.operations.Divide"/>{{ vocabulary.OperationsType4[ vocabulary.current ] }}<br />
          </div>          
         
          <div id="maxValue">
            <h3>{{ vocabulary.MaxValue[ vocabulary.current ] }}</h3>
            <input type= "text" size="5" name="maxValue" value="100" ng-model="options.maxValue"/><br />
            <input type="checkbox" name="multiplyTable" value="multiplyTable" ng-model="options.onlyMultiplyTable" />{{ vocabulary.OnlyMultiplyTableLabel[ vocabulary.current ] }}<br />             
          </div>
        </div>
      </div>

      <div id="GameWrapper" ng-show="isSelected(2)">
        <div id="rightColumnWrapper">
          <div id = "wrongAnswers">
             <h3>{{ vocabulary.ScoreLabel[ vocabulary.current ] }}: </h3>
            <div id = "score">
              {{ game.score }}
            </div>
            <h3>{{ vocabulary.WrongAnswersLabel[ vocabulary.current ] }}:</h3>
            <div id = "wrongList"></div>
          </div> 
        </div>

                
        <div id="gameContainer">          
          <div id="game"> 
            <div id = "timer">
              <h3>{{ vocabulary.Timer[ vocabulary.current ] }}:</h3>
              <div>{{ game.timerValue }}</div>
            </div>
            <div id = "user_message">{{ game.message }}</div>
            <div id = "question"><h3>{{ vocabulary.Question[ vocabulary.current ] }}:</h3>
              <div id = "question_output">{{ game.question }} ?</div>
            </div>
            <div id = "answer">
              <input id ="user_answer" type = "text" size = "10" />
              <input type = "button" value = "Next" ng-click="nextQuestion()" /><br /><br />
              <input type = "button" value = "Start!" ng-click="startGame()"/>
            </div> 
          </div>
        </div> 

      </div>       

      <div id="HelpWrapper" ng-show="isSelected(3)">
        <div id="HelpInnerWrapper">
          <div id="helpEntry">
            <div id="helpEntryHeader">
              <h1>{{ vocabulary.HelpContentsLabel[ vocabulary.current ] }}:</h1>
              <ul>
                <li ng-click="showHelp(1)">{{ vocabulary.OptionsPageLabel[ vocabulary.current ] }}</li>
                <li ng-click="showHelp(2)">{{ vocabulary.MasterTipsLabel[ vocabulary.current ] }}</li>
              </ul>
            </div>           

            <div id="helpContent">
              <div ng-show="isActiveHelp(1)">
                <h3>{{ vocabulary.OptionsPageHelpTitle[ vocabulary.current ] }}:</h3>
                <p>{{ vocabulary.OptionsHelpContentPart1[ vocabulary.current ] }}</p>
                <p>{{ vocabulary.OptionsHelpContentPart2[ vocabulary.current ] }}</p>
                <p>{{ vocabulary.OptionsHelpContentPart3[ vocabulary.current ] }}</p>
                <p>{{ vocabulary.OptionsHelpContentPart4[ vocabulary.current ] }}</p>
              </div>
              <div ng-show="isActiveHelp(2)">
                <h3>{{ vocabulary.MasterTipsTitle[ vocabulary.current ] }}</h3>

                <p>{{ vocabulary.MasterTipsContentPart1[ vocabulary.current ] }}</p>

                <p>{{ vocabulary.MasterTipsContentPart2[ vocabulary.current ] }}</p>

                <p>{{ vocabulary.MasterTipsContentPart3[ vocabulary.current ] }}</p>
              </div>
            </div>

          </div>
        </div>
      </div>      
      
      <div id="ContactsWrapper" ng-show="isSelected(4)">
        <div id="ContactsInnerWrapper">
          <div id="photo">
            <img src="https://avatars1.githubusercontent.com/u/10019972?v=3&s=460" width=100 />
          </div>
          <div id="authorDesc">
            <h3>{{ vocabulary.Author[ vocabulary.current ] }}</h3>

            <p>{{ vocabulary.AuthorMessage[ vocabulary.current ] }}</p>
            <p>{{ vocabulary.Email[ vocabulary.current ] }}: <noindex><nofollow>lazyexpert@i.ua</noindex></nofollow></p>
            <p>{{ vocabulary.GithubLink[ vocabulary.current ] }}: <a href="https://github.com/lazyexpert/SimpleMathTrainer" target="_blank">SimpleMathTrainer</a></p> 
          </div>          
        </div>

        <div id="ContactsHire">
          <h3>{{ vocabulary.LookForDesignerTitle[ vocabulary.current ] }}:</h3>                    
          <p>{{ vocabulary.LookForDesignerContent[ vocabulary.current ] }}</p>
        </div>

        <div id="cooperation">
          <h3>{{ vocabulary.CooperationTitle[ vocabulary.current ] }}</h3>
          <p>{{ vocabulary.CooperationContent[ vocabulary.current ] }}</p>
        </div>
      </div>
    </div>
  </body>
</html>