
body, div, p, header {
  margin: 0;
  padding: 0; 
  font-size:12pt;
}

#difficulty{
  width: 18%;
  padding: 10px;
}

#difficulty_pick, #left{
  display: inline-block;
  width: 18%;
}

#timer, #middle{
  display: inline-block;  
  width:55%;
  text-align:center;
  padding: 10px;
}

#timer_value{
  display: inline-block;
  vertical-align:top;
  width:55%;
  text-align:center;
  padding-left:30px;
  
}

#difficulty, #timer, #mode{
  font-weight: bold;
  display: inline-block;
}

#mode{
  float:right;
  width:18%;
  padding: 10px;
}

#mode_pick, #right{
  float:right;
  diplay:inline-block;
  width:18%;
}

#question_output, #score, #timer_value{
  font-size: 20pt;
}

#middle{
  padding-top: 100px;
}

#question{
  margin:20px;
}
